.header-container{
  width: 100%;
  height: 55px;
  background: pink;
  padding: 0;
  margin: 0;
  display: flex;
}

.logo{
  width: 170px;
  height: 55px;
  margin-left: 10%;
  background: url("../../../image/header-solanka.png");
  display: flex;
}

.product{
  margin-left:0%;
  padding: 15px 10px 0 10px;
  border-left: #06728d solid 1px;
  border-right: #06728d solid 1px;
  font-size:20px;
  display: block;
  color: #06728d;

}
.recept{
  font-size: 20px;
  margin-left: 20%;
  border-left: #06728d solid 1px;
  border-right: #06728d solid 1px;
  padding: 15px 10px 0 10px;
  display: block;
  color: #06728d;

}
.login{
  font-size: 20px;
  margin-left: 20%;
  border-left: #06728d solid 1px;
  border-right: #06728d solid 1px;
  padding: 15px 10px 0 10px;
  display: block;
  color: #06728d;
}
.container-dish{
  margin-left: 50%;
  width: 200px;
  display: flex;
  background: none;
}
