
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$adddish-container: 225px;

.dishes-container {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: calc(50% - #{$adddish-container});
}

.dish-container {
  width: 450px;
  background: pink;
  margin: 10px 0 0 10px;
  border-radius: 4px;
}

.name-container {
  width: 450px;
  height: 60px;
  background: #06728d;
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.recipe-container {
  width: 450px;
  height: 100%;
  border-bottom: 1px solid #06728d;
}

.description-container {
  width: 450px;
  height: 100%;
}

.text-container {
  padding-top: 10px;
}
.add-product-from-dish-container{
  width: 300px;
}

.button {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 0 0 4px 4px;
  background: none;
  font-size: 20px;
  outline: none;
}
.button:active{
  background: #06728d;
  color: white;
}
